*.xbb
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.pdf
*.bbl
*.bcf
*.blg
*.run.xml
book/book.out
.vscode/
book.synctex*
tikz-cache/*
bookch*
content.opf
output-epub
figures/*.png
figures/*.pdf
tables/*.png
tables/*.pdf
release/*
book.4ct
book.4tc
book.aux
book.bbl
book.bcf
book.blg
book.css
book.dvi
book.html
book.idv
book.lg
book.log
book.mobi
book.azw3
book.epub
book.ncx
book.out
book.pdf
book.run.xml
book.tmp
book.toc
book.xref
book*.html
book-epub/
book-mobi/
book-azw3/
*.bak
book_sans_serif/
release_sans_serif/
*.opf
